# Logs
logs
*.log
npm-debug.log*

# Dependencies
node_modules/

# OS/Editor
.DS_Store
.obsidian/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json

# Build outputs
dist/
dist-electron/
release/
*.local

# Environment variables
.env
.env.*